.loading-box {
  position: relative;
}
.loading-box::before {
  content: "Please wait. This process may take a few minutes.";
  position: absolute;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
